body{
    margin: 20px;
}

#tablaProductos{
    border-collapse: collapse;
    border: 3px solid black;
    text-align: center;
}

#tablaProductos td , #tablaProductos th{
    border: 2px solid black;
    padding: 10px
}

#tablaProductos th{
    text-align: center;
    background-color: bisque;
}

#formNuevoProducto {
    text-align: start;
    font-size: larger;
    font-weight: bolder;
}

.swal2-cancel{
    background-color: red;
}